<div class="container mt-4">
 
  <div class="card m-3">
    <h5 class="card-header">
      {{ isEditMode ? 'Edit a student' : 'Create a student' }}
    </h5>

    <div class="card-body">

      <!-- Message -->
      <div>
        @if (message) {
        <div data-cy="studentform-div-alert" class="alert" [ngClass]="{
          'alert-danger': messageType === 'error',
          'alert-success': messageType === 'success'
        }">
          {{ message }}
        </div>
      }
      </div>

      <!-- Form -->
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        
        <div class="form-row">
          
          <div class="form-group col-5">
            <label>First Name</label>
            <input
              data-cy="studentform-input-firstname"
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['firstName'].errors }"
            />
            @if (submitted && form['firstName'].errors) {
              <div class="invalid-feedback">
                @if (form['firstName'].errors?.['required']) {
                  <div>First Name is required</div>
                }
              </div>
            }
          </div>

          <div class="form-group col-5">
            <label>Last Name</label>
            <input
              data-cy="studentform-input-lastname"
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['lastName'].errors }"
            />
            @if (submitted && form['lastName'].errors) {
              <div class="invalid-feedback">
                @if (form['lastName'].errors?.['required']) {
                  <div>Last Name is required</div>
                }
              </div>
            }
          </div>
        
          <div class="form-group col-5">
            <label>Email</label>
            <input
              data-cy="studentform-input-email"
              type="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['email'].errors }"
            />
            @if (submitted && form['email'].errors) {
              <div class="invalid-feedback" data-cy="studentform-div-invalidfeeback">
                @if (form['email'].errors?.['required']) {
                  <div>Email is required</div>
                }
                @if (form['email'].errors?.['email']) {
                  <div>Email format is invalid</div>
                }
              </div>
            }
          </div>

          <div class="form-group col-5">
            <label>Birthdate</label>
            <input
              data-cy="studentform-input-birthdate"
              type="date"
              formControlName="birthDate"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['birthDate'].errors }"
            />
            @if (submitted && form['birthDate'].errors) {
              <div class="invalid-feedback">
                @if (form['birthDate'].errors?.['required']) {
                  <div>Birth Date is required</div>
                }
              </div>
            }
          </div>
          
        </div>
        
        <div class="text-center">
          
          <button class="btn btn-primary mr-1" data-cy="studentform-button-submit">
              {{ isEditMode ? 'Update' : 'Create' }}
          </button>
          
          <button class="btn btn-secondary" type="reset" (click)="onReset()" routerLink="/students" data-cy="studentform-button-cancel">
            Cancel
          </button>
        </div>
      </form>
      
    </div>
  </div>

</div>