<div class="container mt-4">

  <!-- Navigation -->
  <div class="mb-3">
    <a routerLink="/students" data-cy="studentdetails-a-backtolist">← Back to list</a>
  </div>

  <div class="fw-bold border-bottom pb-2 mb-3">
    Student Details
  </div>
  
  <div class="d-flex mb-2" data-cy="studentdetails-div-firstname">
    <span style="width: 30%; font-weight: bold;">First Name</span>
    <span style="width: 70%;">{{ student?.firstName }}</span>
  </div>

  <div class="d-flex mb-2" data-cy="studentdetails-div-lastname">
    <span style="width: 30%; font-weight: bold;">Last Name</span>
    <span style="width: 70%;">{{ student?.lastName }}</span>
  </div>

  <div class="d-flex mb-2" data-cy="studentdetails-div-email">
    <span style="width: 30%; font-weight: bold;">Email</span>
    <span style="width: 70%;">{{ student?.email }}</span>
  </div>

  <div class="d-flex mb-2" data-cy="studentdetails-div-birthdate">
    <span style="width: 30%; font-weight: bold;">BirthDate</span>
    <span style="width: 70%;">{{ student?.birthDate }}</span>
  </div>

</div>